server:
  port: 8081

logging:
  level:
    org.springframework.jdbc.datasource: DEBUG
    com.zaxxer.hikari: DEBUG

spring:
  application:
    name: Order-Service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/order_db}
    username: ${DB_USERNAME:order_user}
    password: ${DB_PASSWORD:order_pass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC
    write-dates-as-timestamps: false

catalog:
  base-url: http://localhost:8082
  client:
    connect-timeout-ms: 1000
    read-timeout-ms: 2000